.admin-sidebar {
  width: 270px;
  background: #fff;
  height: calc(100vh -20px);
  overflow-y: auto;
  padding-top: 20px;
  border-right: 1px solid #ddd;
}

.admin-sidebar::-webkit-scrollbar {
  width: 6px;
}


.admin-sidebar::-webkit-scrollbar-thumb {
  background-color: #d69317;
  border-radius: 6px;
}

.admin-sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar-menu li {
  border-bottom: 3px solid #eee;
}

.admin-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  text-decoration: none;
  color: #001b47;
  font-weight: 600;
  cursor: pointer;
}


.admin-menu-item.active {
  border-left: 5px solid #b6842a;
  background: #FFF3E3;
  color: #b6842a;
}


.admin-menu-item:hover {
  background: #f5f5f5;
}

.submenu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.submenu-link {
  display: block;
  padding: 10px 20px;
  color: #001b47;
  text-decoration: none;
}


.submenu-link.active {
  border-left: 5px solid #b6842a;
  background: #FFF3E3;
  color: #b6842a !important;
  font-weight: bold;
}

.admin-menu-item:hover,
.admin-sidebar-menu li a:hover {
  background:#AF7E36;
  color: #fff !important;
  

}