.dashboard-home-section {
  padding: 20px;
}

.dashboard-card {
  background: #fff3e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  border-radius: 8px;
  height: 100%;
  border: 1px solid #df8e25;
}

.dashboard-icon {
  font-size: 50px;
  color: #df8e25;
}

.dashboard-card h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 8px;
}

.dashboard-card h4 {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

/* Donation Section */
.donation-box,
.donation-table-box {
  background: #efe7d8;
  border: 1px solid #b48a45;
  padding: 15px;
  height: 100%;
  border-radius: 10px;
}

.donation-box h3,
.donation-table-box h3 {
  text-align: center;
  color: #7a5520;
  font-weight: 700;
  margin-bottom: 15px;
}

.donation-box p {
  margin-bottom: 10px;
  font-size: 15px;
}

.donation-note {
  font-weight: 600;
  margin-top: 20px;
}

.donation-table {
  margin-bottom: 0;
}

.donation-table thead {
  background: #d6d6d6;
}

.donation-table th,
.donation-table td {
  border: 1px solid #b48a45;
  text-align: center;
  padding: 8px;
}

.service-card-dashome {
  width: 50%;
  background: #efe7d8;
  border-radius: 0;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.dashboard-left-img {
  width: 40%;
  text-align: center;
}

.dashboard-left-img img {
  object-fit: cover;
  border-radius: 8px;
}

.dashboard-left-img h6 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 6px;
  margin-bottom: 2px;
}

.prof {
  font-size: 15px;
  margin: 0;
  color: #666;
  font-weight: 600;
}

.table-scroll-wrapper {
  height: 330px;
  overflow: hidden;
  position: relative;
  border: 1px solid #b48a45;
}

.donation-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.donation-table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  background: #d6d6d6;
  position: relative;
  z-index: 10;
}

.donation-table tbody {
  display: block;
  height: 285px;
  overflow: hidden;
}

.donation-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.donation-table th,
.donation-table td {
  border: 1px solid #b48a45;
  text-align: center;
  padding: 10px;
}


.scroll-body {
  animation: scrollDonation 15s linear infinite;
  margin-top: 0px;
}

.table-scroll-wrapper:hover .scroll-body {
  animation-play-state: paused;
}

@keyframes scrollDonation {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-50%);
  }
}

.service-content-dh {
  width: 55%;
  position: relative;

}

.service-content-dh h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.service-org {
  font-size: 15px !important;
  margin-bottom: 8px !important;
}

.service-invite {
  display: none;
}

.service-content-dh p {
  font-size: 15px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.service-btn {
  display: none;
}

.logo-dh {
  width: 20%;
  text-align: center;
}

.logo-dh img {
  object-fit: contain;
}

@media(max-width:768px) {

  .service-card-dashome {
    flex-direction: column;
    text-align: center;
  }

  .dashboard-left-img,
  .service-content-dh,
  .logo-dh {
    width: 100%;
  }

  .service-content-dh p {
    justify-content: center;
  }

}

.dashevent-head {
  color: #df8e25;
  margin-top: 20px;
  position: relative;
  top: 15px;
}

.dashqr {
  width: 150px;
  height: 150px;
}

/* MAIN WRAPPER */
.event-scroll-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* TRACK */
.event-scroll-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: eventScroll 35s linear infinite;
}

/* STOP ON HOVER */
.event-scroll-wrapper:hover .event-scroll-track {
  animation-play-state: paused;
}

/* CARD WIDTH */
.service-card-dashome {
  width: 800px;
  /* fixed proper card width */
  flex-shrink: 0;
  /* don't shrink */
}

/* INFINITE SMOOTH LOOP */
@keyframes eventScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}